[*.cs]

# CS0649: Field 'TestObject1.service' is never assigned to, and will always have its default value null
dotnet_diagnostic.CS0649.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none
